<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eldestapp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name="com.example.sepeda.Activity_sepeda"
            android:exported="false" />
        <activity
            android:name="com.example.sepeda.EditDataSepeda"
            android:exported="false" />
        <activity
            android:name="com.example.sepeda.SimpanDataSepeda"
            android:exported="false" />
        <activity
            android:name=".Activity_admin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".SimpanData"
            android:exported="true" />
        <activity
            android:name=".EditDataActivity"
            android:exported="true" />
        <activity
            android:name=".MenuLainnya"
            android:exported="true" />
        <activity
            android:name="com.example.petugas.ActivityPetugas"
            android:exported="true" />
        <activity
            android:name="com.example.kategori.ActivityKategori"
            android:exported="true" />
        <activity
            android:name="com.example.lokasi.ActivityLokasi"
            android:exported="true" />
        <activity
            android:name="com.example.metode_pembayaran.ActivityMetodePembayaran"
            android:exported="true" />
        <activity
            android:name="com.example.petugas.SimpanDataPetugas"
            android:exported="true" />
        <activity
            android:name="com.example.kategori.SimpanDataKategori"
            android:exported="true" />
        <activity
            android:name="com.example.lokasi.SimpanDataLokasi"
            android:exported="true" />
        <activity
            android:name="com.example.metode_pembayaran.SimpanDataPembayaran"
            android:exported="true" />
        <activity
            android:name="com.example.petugas.EditDataPetugas"
            android:exported="true" />
        <activity
            android:name="com.example.lokasi.EditDataLokasi"
            android:exported="true" />
        <activity
            android:name="com.example.metode_pembayaran.EditDataMetodePembayaran"
            android:exported="true" />
        <activity
            android:name="com.example.kategori.EditDataKategori"
            android:exported="true" />
        <activity
            android:name="com.example.stok.Activity_stok"
            android:exported="true" />
        <activity
            android:name="com.example.pencatatan.Activity_pencatatan"
            android:exported="true" />
        <activity
            android:name="com.example.pengembalian.Activity_pengembalian"
            android:exported="true" />
        <activity
            android:name="com.example.stok.SimpanDataStok"
            android:exported="true" />
        <activity
            android:name="com.example.pencatatan.SimpanDataPencatatan"
            android:exported="true" />
        <activity
            android:name="com.example.pengembalian.SimpanDataPengembalian"
            android:exported="true" />
        <activity
            android:name="com.example.stok.EditDataStok"
            android:exported="true" />
        <activity
            android:name="com.example.pencatatan.EditDataPencatatan"
            android:exported="true" />
        <activity
            android:name="com.example.pengembalian.EditDataPengembalian"
            android:exported="true" />




        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>